$light-blue: #89d0f0;
$dark-blue: #031f4b;
$text-color: #0d2a52;
$outline: #e2ebfa;
$gray: #959cb6;
$white: #ffffff;
$border-input: #e5e5e5;
$color-input: #4c4c4c;
$active-link: rgba(140, 207, 238, 0.13);
$red: #eb5757;
$table-head-text: #516f90;
$pagindation-d-border: #eff3fa;
$bg-table-head: #f0f9fd;
$pg-color-text: #8598ad;
$bg-body: #f6f9fc;
$bg-tabs-button: #e6edfa;
$bg-tag-zip-yes-no: #f2f2f2;
$bg-tag-resend: #56d0b2;
$bg-tag-complete: #4c9eff;
$bg-tag-pending: #8598ad;
$bg-tg-failed: #f08678;
$green-text: #27ae60;
$modal-input-select-border: #dde4f4;
$close-modal-border: #dce5ef;
$file-size-text: #828282;
$bg-login-screen: #fbfdff;
$diabled-button: rgba(51, 71, 91, 0.5);
$border-check: #0c2340;
$login-label-text: rgba(12, 35, 64, 0.6);
$login-placeholder-text: rgba(12, 35, 64, 0.3);
$check-text-color: #9ea7b3;
$bg-check: #f67032;
$bg-code-box: #f5faff;
$border-code-box: #e7f2ff;
$black-text: #14192e;

$height: calc((30 / 16) * 1em);
$width: calc((72 / 16) * 1em);

$color-white: #fefefe;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-peter-river: #3498db;
$color-carrot: #e67e22;

$transition-default: 0.25s ease-out 0.1s;
